In [1]:
# Import pandas library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('S1Data.csv')

In [7]:
df.shape

(299, 13)

In [4]:
print(df.dtypes)
print(df.dtypes.value_counts())

TIME                   int64
Event                  int64
Gender                 int64
Smoking                int64
Diabetes               int64
BP                     int64
Anaemia                int64
Age                  float64
Ejection.Fraction      int64
Sodium                 int64
Creatinine           float64
Pletelets            float64
CPK                    int64
dtype: object
int64      10
float64     3
dtype: int64

In [5]:
df.isnull().any()

TIME                 False
Event                False
Gender               False
Smoking              False
Diabetes             False
BP                   False
Anaemia              False
Age                  False
Ejection.Fraction    False
Sodium               False
Creatinine           False
Pletelets            False
CPK                  False
dtype: bool

In [8]:
df.columns

Index(['TIME', 'Event', 'Gender', 'Smoking', 'Diabetes', 'BP', 'Anaemia',
       'Age', 'Ejection.Fraction', 'Sodium', 'Creatinine', 'Pletelets', 'CPK'],
      dtype='object')

In [9]:
df.isnull().sum()

TIME                 0
Event                0
Gender               0
Smoking              0
Diabetes             0
BP                   0
Anaemia              0
Age                  0
Ejection.Fraction    0
Sodium               0
Creatinine           0
Pletelets            0
CPK                  0
dtype: int64

In [10]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
TIME,299.0,130.260870,77.614208,4.0,73.0,115.0,203.0,285.0
Event,299.0,0.321070,0.467670,0.0,0.0,0.0,1.0,1.0
Gender,299.0,0.648829,0.478136,0.0,0.0,1.0,1.0,1.0
Smoking,299.0,0.321070,0.467670,0.0,0.0,0.0,1.0,1.0
Diabetes,299.0,0.418060,0.494067,0.0,0.0,0.0,1.0,1.0
BP,299.0,0.351171,0.478136,0.0,0.0,0.0,1.0,1.0
Anaemia,299.0,0.431438,0.496107,0.0,0.0,0.0,1.0,1.0
Age,299.0,60.833893,11.894809,40.0,51.0,60.0,70.0,95.0
Ejection.Fraction,299.0,38.083612,11.834841,14.0,30.0,38.0,45.0,80.0
Sodium,299.0,136.625418,4.412477,113.0,134.0,137.0,140.0,148.0
Creatinine,299.0,1.393880,1.034510,0.5,0.9,1.1,1.4,9.4
Pletelets,299.0,263358.029264,97804.236869,25100.0,212500.0,262000.0,303500.0,850000.0
CPK,299.0,581.839465,970.287881,23.0,116.5,250.0,582.0,7861.0